{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>NuzhdinDeveloper</title>
	<meta name="description" content="Nuzhdin Maxim - Python Developer">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{%static 'css/zerogrid.css'%}">
	<link rel="stylesheet" href="{%static 'css/style.css'%}">
	<link rel="stylesheet" href="{%static 'css/responsive.css'%}">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
    
</head>
<body>
<div class="wrap-body">
<!--------------Header--------------->
<!-- <header>
	<div class="top-header">
		<div class="zerogrid">
			<div class="row">
				<nav>
					<div class="wrap-nav">
						<a class="toggleMenu" href="#">--- Menu ---</a>
						<ul class="menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="#box-1">About</a></li>
							<li><a href="#box-2">Team</a></li>
							<li><a href="#box-3">Services</a></li>
							<li><a href="#box-4">Pricing</a></li>
							<li><a href="#box-5">Projects</a></li>
							<li><a href="#box-6">Contact</a></li>
							<li><a href="#box-7">Subscribe Email</a></li>
						</ul>
					</div>
				</nav>
				
			</div>
		</div>
	</div>
</header> -->
{%block index%}
{%endblock%}
{%block content%}
{%endblock%}
{%block thanks%}
{%endblock%}
<footer>
	
</footer>

</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
</body></html>